* {
  font-size: 12px;
  /* font-size: 1em; */
  font-family: monospace;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  color: #edecee;
  background: transparent;
  /* background: #000; */
}

tooltip {
  background: #1d202f;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #f7768e;
}

#custom-arrow-left-fg,
#custom-arrow-right-fg {
  color: #313244;
}

#custom-arrow-left-bg,
#custom-arrow-right-bg {
  color: #000;
  background: #313244;
}

#backlight,
#battery,
#clock,
#memory,
#mode,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-notification,
#tray,
#workspaces {
  background: #313244;
  padding: 0 0.5em;
  margin: 6px 0px;
}

#mode {
  color: #313244;
  background: #61ffca;
  margin-left: 7px;
  border-radius: 8px;
}

#workspaces {
  padding: 0;
  margin-left: 7px;
  border-radius: 8px;
}

#workspaces button {
  color: #edecee;
  padding: 0 0.3em;
}

#workspaces button.visible {
  color: #313244;
  background: #6d6d6d;
}

#workspaces button.focused {
  color: #313244;
  background: #a277ff;
  box-shadow: 1px 1px 1px #1d202f;
  border-radius: 8px;
}

#workspaces button.urgent {
  color: #313244;
  background: #61ffca;
  border-radius: 8px;
}

#workspaces button:hover {
  color: #61ffca;
  background: #313244;
  border: 1px solid #61ffca;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 8px;
}

#clock {
  color: #f7768e;
  border-radius: 0px 8px 8px 0px;
  padding-right: 5px;
}

#backlight {
  color: #f694ff;
}

#battery {
  color: #82e2ff;
  padding-right: 7px;
}

#memory {
  color: #ff6767;
}

#network {
  color: #61ffca;
}

#pulseaudio {
  color: #ffca85;
  padding-right: 7px;
}

#tray {
  margin-left: 7px;
  border-radius: 8px 0px 0px 8px;
}

#idle_inhibitor {
  color: #7dcfff;
  border-radius: 8px 0px 0px 8px;
  margin-left: 7px;
  padding-left: 5px;
  padding-right: 7px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  border-radius: 0px 8px 8px 0px;
  margin-right: 7px;
  padding-right: 12px;
}

#battery.charging {
  color: #7aa2f7;
}

